@font-face {
	font-family: Chewy;
	src: url(../fonts/chewy-regular.ttf);
}
body {
	font-family: Chewy;	
	text-align: center;
}
button {
	font-family: Chewy;
	font-size: 36px;
}
.number {
	color: white;
	background-color: #F95F62;
}
.symbol {
	color: white;
	background-color: #00A6FF;
}
.titulo {
	color: #00A6FF;
}
.tela {
	font-size: 26px;
}
.campo {
	font-family: Chewy;
	font-size: 20px;
}