@font-face {
	font-family: Chewy;
	src: url(../fonts/chewy-regular.ttf);
}
body {
	font-family: Chewy;	
	text-align: center;
}
button {
	height: 70px;
	font-family: Chewy;
	font-size: 36px;
	border-radius: 12px;
	border: 0;
	margin: 5px;
}
.number {
	color: white;
	background-color: #F95F62;
}
.symbol {
	color: white;
	background-color: #00A6FF;
}
.titulo {
	color: #00A6FF;
}
.tela {
	font-size: 45px;
}
.campo {
	font-family: Chewy;	
	height: 40px;
}

